/*msg_detail*/
.header-center-msg-detail strong{
    display: block;
    padding-top: 5px;
    line-height: normal;
}
.header-center-msg-detail .onlineType{
    padding-top:1px;
    font-size:12px;
    font-weight:normal;
}
.content.content-msg-detail{
    bottom:50px;
    background:-webkit-linear-gradient(top,#ace7ef,#e7d9c5);
    background:-moz-linear-gradient(top,#ace7ef,#e7d9c5);
    background:linear-gradient(top,#ace7ef,#e7d9c5);
}
.footer-msg-detail{
    padding: 8px 0 0 2.5%;
    height:50px;
    background-color: #ebecee;
    word-spacing: -4px;
}
.footer-msg-detail .input,
.footer-msg-detail .btn,
.footer-msg-detail i{
    display: inline-block;
    vertical-align:middle;
    overflow:hidden;
    word-spacing:0;
}
.footer-msg-detail .input{
    width: 58.333333%;
    height:33px;
    padding:3px 1.388889%;
    margin-left:2.222222%;
    line-height:normal;
    border:1px solid #ccc;
    border-radius: 6px;
    font-size:14px;
    background: #fff;
}
.footer-msg-detail .btn{
    float:none;
    height:33px;
    width:15.555555%;
    padding-top: 3px;
    margin-left:1.944444%;
    border:1px solid #9b9b9b;
    border-radius: 3px;
    background: #ebecee;
}
.footer-msg-detail .icon-msg-detail-footer.plus{
    margin-left:4.444444%;
}
.msg-detail-list{
    padding-bottom:25px;
}
.msg-detail-list li{
    padding:25px 10px 0;
}
.msg-detail-list .left{text-align: left;}
.msg-detail-list .right{text-align: right;}
.msg-detail-list .time{
    text-align: center;
    color:#465c5f;
    font-size:10px;
}
.msg-detail-list .photo,
.msg-detail-list .msg{
    display: inline-block;
    vertical-align:top;
}
.msg-detail-list .photo{
    width: 40px;
    height: 40px;
    border-radius:40px;
    overflow:hidden;
}
.msg-detail-list .photo img{
    width: 100%;
    height: 100%;
}
.msg-detail-list .msg{
    max-width: 70%;
    padding:10px 18px;
    font-size:15px;
    border-radius: 13px;
    border:2px solid #a8d5ee;
    border-bottom:0;
    background:-webkit-linear-gradient(top,#c6e8fc,#9fd4f4);
    background:-moz-linear-gradient(top,#c6e8fc,#9fd4f4);
    background:linear-gradient(top,#c6e8fc,#9fd4f4);
    box-shadow: 0 -3px 0 -1px #51a8e0 inset;
}
.msg-detail-list .left .msg{
    margin-left:15px;
}
.msg-detail-list .right .msg{
    margin-right:15px;
}

.icon-msg-detail-footer{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/sprite_msg_detail.png) no-repeat;
    background-size: 72px auto;
    vertical-align:middle;
}
.icon-msg-detail-footer.voice{background-position:0px 0px;}
.icon-msg-detail-footer.plus{background-position:-24px 0px;}
.icon-msg-detail-footer.emoji{background-position:-48px 0px;}