*{margin:0;padding:0;}
body {
    background-color: #f8f9fa;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
ul, ol {
    list-style-type: none;
}
img{
    vertical-align:top;
}
a{color: #000;}
input{outline:none;}

.hide{display:none;}

.clearfix:after{display: block;content: " ";height:0;visibility:hidden;clear: both;}
.fl{float: left;}
.fr{float: right;}

.bdbox{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.mgl5{margin-left:5px;}
.mgl10{margin-left:10px;}

.ftsize12{font-size:12px;}
.ftsize14{font-size:14px;}
.ftsize16{font-size:16px;}
.ftsize18{font-size:18px;}

.txtLeft{text-align:left;}
.txtRight{text-align:right;}
.txtCenter{text-align:center;}