/*loading*/
.loading{
    position: absolute;
    top:50%;
    left:50%;
    width:80px;
    height: 80px;
    margin:-40px 0 0 -40px;
    background:rgba(0,0,0,0.7);
    border-radius:10px;
    text-align:center;
    z-index:11;
}

.loading::after{
    display:block;
    content:" ";
    width:65px;
    height:65px;
    margin: 7px auto 0;
    background: url(../../images/loading.png) center no-repeat;
    background-size:45px auto;
    -webkit-animation: loading 1s step-start infinite;
    animation: loading 1s step-start infinite; 
}
.header, .footer, .content {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
}
.header, .footer {
    -webkit-animation: .35s ease-in-out;
    animation: .35s ease-in-out;
}
.header.out, .footer.out {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

/*header*/
.header {
    height: 50px;
    padding: 0px 10px;
    background-color: #18b4ed;
    color: #fff;
    top: 0;
    z-index: 1;
}
.header .header-left,
.header .header-center,
.header .header-right{
    position:relative;
    height:50px;
    z-index:2;
}

.header .header-center{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height:50px;
    line-height:50px;
    text-align: center;
    white-space: nowrap;
    z-index:1;
}

.header .header-right a{
    line-height: 50px;
    color: #fff;
    font-size:17px;
}

.header .headerPhoto{
	width:32px;
	height:32px;
    margin-top:10px;
}

.header .headerBack{
    display: inline-block;
    padding-top: 14px;
    color: #fff;
    font-size:16px;
    font-weight: bold;
}
.header .headerBack span{
    vertical-align:middle;
}

.header .messageChange{
    width:150px;
    height: 30px;
    margin:10px auto 0;
    line-height:30px;
    border-radius:15px;
    overflow:hidden;
}
.header .messageChange a{
    display:inline-block;
    color: #1ba8dc;
    background:#3bc4f7;
    width: 75px;
    font-size:15px;
}

.header .messageChange a.active{
    background: #13a2d7;
    color: #fff;
}

/*footer*/
.footer {
    height: 61px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    bottom: 0;
    z-index: 1;
}
.footer > a{
    display:block;
    float: left;
    width:33.333333%;
    height:61px;
    text-align: center;
    font-size:12px;
    color: #7d7d7d;
}
.footer > a.active{
    color: #03a6e1
}

/*content*/
.content {
    top: 50px;
    bottom: 62px;
    overflow:auto;
}
.header + .content {
    bottom: 0;
}

/*con-search*/
.con-search{
    width:100%;
    height: 48px;
    background:#ebeced;
    overflow:hidden;
}
.con-search .input{
    display:block;
    background:#fff;
    height: 33px;
    line-height:33px;
    margin: 7px 10px 0;
    border:1px solid #d9d9d9;
    border-radius:5px;
    overflow:hidden;
    text-align: center;
    font-size:13px;;
    color:#a7a7a7;
}
.con-search .realCon,
.con-search.show .imitateCon{
    display: none;
}
.con-search.show .realCon{
    display:block;
}
.con-search.show .realCon .inputPn{
    display:inline-block;
    width: 85%;
    position: relative;
}
.con-search.show .realCon .input{
    line-height:normal;
    text-align:left;
    width:93%;
    padding-left:30px;
    color: #000;
    font-size:15px;
}
.con-search.show .realCon .icon-msg-search{
    display: block;
    position: absolute;
    top: 18px;
    left: 21px;
}
.con-search.show .realCon .clearTxt{
    display: none;
    position: absolute;
    right: 5.7%;
    top: 14px;
    width: 20px;
    height: 20px;
    line-height:20px;
    border-radius:20px;
    text-align: center;
    background: #7f7f7f;
    color: #fff;
    font-family:arial;
    font-style:normal;
    font-size:15px;
}
.con-search.show .realCon .cancel{
    display: inline-block;
    font-size:15px;
    color: #00a5e0;
}
.commMask{
    display:none;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    overflow: hidden;
    background:rgba(0,0,0,0.5);
    z-index: 1;
}
.commMask-search{
    top: 48px;
}
.commMask-search.result{
    background: #f8f9fa;
}
.commMask-search .noResult{
    display:none;
    height:100%;
    width:100%;
    padding-top: 100px;
    font-size:15px;
    color: #afafaf;
}
/*con-search animations*/
.con-search-transition{
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.content.top0,
.content.top0{
    top:0;
}
.header.outY{
    -webkit-transform:translateY(-50px);
    transform:translateY(-50px);
}

/*comm-list*/
.comm-list{
    background:#fff;
}
.comm-list a,
.comm-list .comm-list-con{
    position: relative;
    display: block;
    padding: 6px 10px;
    border-bottom:1px solid #dedfe0;
}
.comm-list .photo{
    width:50px;
    height:50px;
    overflow:hidden;
    border-radius:50px;
}
.comm-list .photo img{
    width: 100%;
    height: 100%;
}
.comm-list .excerpt{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 11px 50px 0 70px;
}
.comm-list .excerpt .name{
    display:block;
    padding-bottom:5px;
    font-size:15px;
    color: #090909;
}
.comm-list .excerpt .con{
    color: #808080;
    font-size:14px;
}
.comm-list .meta{
    padding-top:3px;
    width:40px;
    text-align: right;
}
.comm-list .meta .time{
    color: #ababab;
    font-size:12px;
}
.comm-list .meta .num{
    display: block;
    width: 19px;
    height:19px;
    line-height:19px;
    text-align: center;
    border-radius:19px;
    overflow:hidden;
    background: #b6cae0;
    color: #fff;
    font-size:12px;
    margin: 6px 0 0 20px;
}
.comm-list .meta .num.bg-red{background:#f74c31}
.comm-list .callType{
    padding-top: 11px;
    font-size:14px;
    color: #00a5e0;
}
/*comm-list-friendList*/
.comm-list-friendList .excerpt .con{
    font-size:12px;
}
.comm-list-friendList .photo{
    width:38px;
    height:38px;
    overflow:hidden;
    border-radius:38px;
}
.comm-list-friendList .excerpt{
    padding:7px 50px 0 58px;
}
.comm-list-friendList .excerpt .name{
    padding-bottom:2px;
}
/*comm-list-qzone*/
.comm-list-qzone{
    margin-top:20px;
    border-top: 1px solid #dedfe0;
}
.comm-list-qzone a{
    padding:8px 10px;
}
.comm-list-qzone .excerpt{
    padding: 14px 35px 0 48px;
}
.comm-list-qzone .photo{
    width:28px;
    height:28px;
    border-radius:28px;
}
/*contact*/
.fastLinkList{
    height:85px;
    background:#fff;
}
.fastLinkList a{
    display: block;
    float:left;
    font-size: 13px;
    text-align: center;
    width:25%;
}
.fastLinkList.num3 a{width:33.333333%;}
.fastLinkList.num4 a{width:25%;}

.friendList .title{
    padding-left:10px;
    line-height:25px;
    font-size:12px;
    color: #808080;
}
.friendList dl{
    background: #fff;
}
.friendList dl > dt{
    position: relative;
    height:44px;
    line-height: 44px;
    border-bottom:1px solid #c8c7cc;
    font-size:15px;
}
.friendList dl > dt > .name{
    display: block;
    position: absolute;
    padding:0 100px 0 45px;
    left:0;
    top:0;
    width:100%;
}
.friendList dl > dt > .online-offline-num{
    padding-right:10px;
    font-size:12px;
    color: #777;
}
.friendList dl > dd{
    display: none;
}
.friendList dl.open > dd{
    display: block;
}

.fastLinkList-qzone{
    border-bottom:2px solid #e1e1e1;
}

/*buttons*/
.btn{
    display:block;
    line-height:44px;
    height:44px;
    border:0;
    background: #e9eaea;
    font-size: 18px;
    color: #0079ff;
    text-align: center;
    border-radius:5px;
}

/*icons*/
.icon-header{
    display: inline-block;
    width:26px;
    height: 26px;
    margin-top: 12px;
    background:url(../../images/headerArrowLeft.jpg) no-repeat;
    background-size:26px auto;
}
.icon-header.arrowLeft{background-image:url(../../images/headerArrowLeft.jpg)}
.icon-header.phone{background-image:url(../../images/headerPhone.jpg)}
.icon-header.people{background-image:url(../../images/headerPeople.jpg)}
.icon-header.menu{background-image:url(../../images/headerMenu.jpg)}

.icon-msg-search{
    display:inline-block;
    width:13px;
    height:13px;
    margin-right:6px;
    background:url(../../images/msg_search.jpg) no-repeat;
    background-size:13px auto;
    vertical-align:-2px;
}
.icon-pc{
    display:inline-block;
    width:13px;
    height:12px;
    background:url(../../images/pc.jpg) no-repeat;
    background-size:13px auto;
}

.icon-footer{
    display: block;
    width: 30px;
    height: 30px;
    margin:10px auto 0;
    background: url(../../images/sprite_footer.png) no-repeat;
    background-size: 180px auto;
}
.footer > a.active > .icon-footer.msg{background-position:0px 0px;}
.footer > a.active > .icon-footer.contact{background-position:-120px 0px;}
.footer > a.active > .icon-footer.qzone{background-position:-60px 0px;}
.icon-footer.msg{background-position:-150px 0px;}
.icon-footer.contact{background-position:-90px 0px;}
.icon-footer.qzone{background-position:-30px 0px;}

.icon-contact,
.icon-qzone{
    display:block;
    width: 36px;
    height: 36px;
    margin:16px auto 8px;
    background: url(../../images/sprite_contact.png) no-repeat;
    background-size: 144px auto;
}
.icon-contact.group{background-position:0px 0px;}
.icon-contact.serve{background-position:-36px 0px;}
.icon-contact.adrlist{background-position:-72px 0px;}
.icon-contact.contacts{background-position:-108px 0px;}

.icon-qzone{
    background: url(../../images/sprite_qzone.png) no-repeat;
    background-size: 111px auto;
}

.icon-qzone.qzone{background-position:0px 0px;width: 39px;}
.icon-qzone.location{background-position:-39px 0px;}
.icon-qzone.clan{background-position:-75px 0px;}

.icon-contactArrow{
    position: absolute;
    left:20px;
    top: 50%;
    margin-top:-5px;
    display:block;
    width: 10px;
    height: 10px;
    background: url(../../images/contact_arrow.jpg) no-repeat;
    background-size: 10px auto;
    -webkit-transition:all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out;
}
.friendList dl.open > dt > .icon-contactArrow{
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

.icon-commListArrow{
    position: absolute;
    top:50%;
    right:10px;
    margin-top:-7px;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../../images/commListArrow.png) no-repeat;
    background-size: 14px auto;
}

.icon-header-back{
    display: inline-block;
    width: 13px;
    height: 22px;
    background: url(../../images/header_back.png) no-repeat;
    background-size: 13px auto;
    vertical-align:middle;
}